<div *ngIf="usuario">
  <h1>Bienvenido, {{ usuario }}</h1>
</div>

<div class="contenedor-productos">
    @for ( producto of listaDeProductos; track producto.id){
      <div>
        <app-producto [producto]="producto" (productoEliminado)="manejarProductoEliminado($event)"></app-producto>
      </div>
    } @empty {
      <p>No existen productos</p>
    }
</div>
<!-- Aplicando la clase CSS al componente -->


<app-agregar-producto (productoAgregado)="onProductoAgregado($event)"></app-agregar-producto>






