.contenedor-productos{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  div{
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
 }
 
 /* En el archivo CSS del componente o en el global */
.hidden {
  display: none;
}
