
<div class="container" *ngIf="detalleDelProducto">
  <div class="game-info">
      <img [src]="detalleDelProducto.image" alt="Product Image">
      <div class="details">
          <h1>{{ detalleDelProducto.title }}</h1>
          <div class="rating">
              <div>
                  <p>{{ detalleDelProducto.category }}</p>
              </div>
          </div>
          <p>{{ detalleDelProducto.description }}</p>
      </div>
  </div>
  <div class="price">
      <div class="amount">USD {{ detalleDelProducto.price }}</div>
      <div class="wishlist">
          <button class="btn-deseos" (click)="eliminarProductoCarrito()">Eliminar</button>
      </div>
  </div>
</div>
