/* cart.component.scss */

.cart-contenedor-detalle {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .cart-imagen {
    flex: 0 0 100px; /* Tamaño fijo para la imagen */
    margin-right: 15px;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
  
  .cart-descripcion {
    flex: 1; /* Resto del espacio para la descripción */
    display: flex;
    flex-direction: column;
  
    .cart-titulo {
      font-size: 1.2em;
      margin: 0 0 10px 0;
      color: #333;
    }
  
    .cart-precio-recomendado {
      color: #999;
      margin: 0 0 5px 0;
    }
  
    .cart-precio-oferta {
      color: #e60023;
      font-size: 1.2em;
      margin: 0 0 10px 0;
    }
  
    .cart-cantidad {
      color: #666;
    }
  }
  