body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  width: 650px;
  margin: 20px auto;
  border-radius: 10px;
}
h1{
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
.game-info {
  display: flex;
  align-items: center;
}
.game-info img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}
.details {
  margin-left: 20px;
  width: 50%;
}
.details h1 {
  margin: 0;
  font-size: 1.5em;
}
.details .rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.details .rating img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.details .rating div {
  font-size: 0.9em;
  color: #ccc;
}
.price {
  text-align: right;
}
.price .amount {
  font-size: 1em;
  font-weight: bold;
  color: #ccc;
}
.price .wishlist {
  margin-top: 20px;
}
.button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}
.button:hover {
  background-color: #555;
}

.btn-deseos {
  background-color: transparent; /* Sin color de fondo */
  color: white; /* Color del texto blanco */
  padding: 10px 30px; /* Espaciado interno del botón */

  border: 1px solid white; /* Borde blanco */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de la fuente */
  display: inline-block; /* Mostrar en línea */
  margin-bottom: 10px; /* Margen inferior */
  text-align: center; /* Alineación del texto */
}

.btn-deseos:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Color de fondo al pasar el ratón */
}