<div class="container">
    <div class="slide">
        <div class="item" id="inicio-game1">
            <div class="content">
                <div class="name">EA SPORTS FC24</div>
                <div class="des">Es un videojuego de fútbol, desarrollado por EA, y publicado por EA Sports.</div>
                <button>Ver más</button>
            </div>
        </div>
        <div class="item" id="inicio-game2">
            <div class="content">
                <div class="name">ELDEN RING</div>
                <div class="des">Es un videojuego de rol de acción desarrollado por FromSoftware y publicado por Bandai Namco Entertainment</div>
                <button>Ver más</button>
            </div>
        </div>
        <div class="item" id="inicio-game3">
            <div class="content">
                <div class="name">GOD OF WAR RAGNARÖK</div>
                <div class="des">Es un videojuego de acción y aventura hack and slash en tercera persona desarrollado por Santa Monica Studio y publicado por Sony Interactive Entertainment.</div>
                <button>Ver más</button>
            </div>
        </div>
        <div class="item" id="inicio-game4">
            <div class="content">
                <div class="name">MORTAL KOMBAT 1</div>
                <div class="des">Es un videojuego de lucha desarrollado por NetherRealm Studios y publicado por Warner Bros. Games.</div>
                <button>Ver más</button>
            </div>
        </div>
        <div class="item" id="inicio-game5">
            <div class="content">
                <div class="name">RED DEAD REDEMPTION 2</div>
                <div class="des">Es un videojuego de acción-aventura de mundo abierto desarrollado y publicado por Rockstar Games.</div>
                <button>Ver más</button>
            </div>
        </div>
        <div class="item" id="inicio-game6">
            <div class="content">
                <div class="name">MARVEL SPIDERMAN 2</div>
                <div class="des">Es un videojuego de acción y aventura de mundo abierto desarrollado por Insomniac Games y publicado por Sony Interactive Entertainment.</div>
                <button>Ver más</button>
            </div>
        </div>
    </div>

    <div class="button">
        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div>

<div class="cont-ofert">
    <div class="text-ofert"><span>TODO </span><span>EN </span><span>UN </span><span>MISMO </span><span>LUGAR</span></div>
    <table>
        <thead>
            <tr>
                <th class="subTitulo-consola">PLAYSTATION</th>
                <th  class="subTitulo-consola">XBOX</th>
                <th  class="subTitulo-consola">NINTENDO SWITCH</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img class="imagenBorder" src="../../../assets/imagenes/playstation.jpg"></td>
                <td ><img  class="imagenBorder" src="../../../assets/imagenes/xbox.png"></td>
                <td><img   class="imagenBorder"src="../../../assets/imagenes/nintendo.jpg"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>+50 JUEGOS</td>
                <td>+100 JUEGOS</td>
                <td>+30 JUEGOS</td>
            </tr>
        </tfoot>
    </table>
</div>
