<div class="contenedor-inicio-1">
    <div class="contenedor-inicio-2" id="imagen-inicio">
        <img src="../../../assets/imagenes/smiley-couple-sofa-doing-some-online-shopping (1)-min.jpg" alt="pareja satisfecha con su compra online">
    </div>
    <div class="contenedor-inicio-3" id="texto-y-adornos">
        <div class="contenedor-inicio-2">
            <div class="contenedor-inicio-2">
                <img src="../../../assets/imagenes/las-compras-en-linea.png" alt="bolsa de tienda">
            </div>
            <div class="contenedor-inicio-2">
                <img src="../../../assets/imagenes/tienda.png" alt="tienda">
            </div>
        </div>
        <h1>Tu compra ideal, a un clic de distancia</h1>
    </div>
</div>
