
.contenedor
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #ffffff;
}
.login-container {
  width: 40%;
  margin: 0 auto; /* Centra horizontalmente */
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  
}

.login-container h1 {
  text-align: center;
  color: #28a745;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1em;
  background-color: #2e2e2e;
  color: white;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #28a745;
  outline: none;
}

.error-message {
  color: #dc3545;
  font-size: 0.9em;
  text-align: center;
}

button.btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button.btn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

button.btn:hover:enabled {
  background-color: #218838;
}
