<div class="contenedor-producto">

  <div class="contenedor-imagen">
    <img class="imagen" src="{{producto.image}}" alt="{{producto.title}}">
  </div>
  <h4 class="titulo">{{producto.title}}</h4>
  <div class="precio">
    <span>Precio: </span><span>{{producto.price}} USD$</span>
  </div>
  <div class="acciones">
    <div class="botones">
      <button class="btn-comprar" [routerLink]="['/detalles', producto.id]">Detalles</button>
      <button  class="btn-carrito" (click)="borrarProducto(producto.id)">Borrar</button>
      <button class="btn-deseos" [routerLink]="['/edit-producto', producto.id]">Editar</button>
    </div>
  </div>
</div>
