body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .perfil-container {
    width: 80%;
    margin: auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .imagen {
    width: 150px;
    height: 150px;
  }
  
  .perfil-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .perfil-header img {
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .perfil-header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #ffffff;
  }
  
  .subtitle {
    font-style: italic;
    color: #aaaaaa;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .perfil-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .perfil-info {
    flex: 1;
    max-width: 50%;
  }
  
  .perfil-section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #2c2c2c;
    border-radius: 8px;
  }
  
  .perfil-section h2 {
    border-bottom: 2px solid #444444;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #28a745;
  }
  
  .perfil-section p {
    font-size: 1.1em;
    margin: 5px 0;
    color: #dddddd;
  }
  
  .perfil-image {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .perfil-image img {
    max-width: 70%;
    max-height: 70%;
    height: auto;
    width: auto;
    display: block;
  }
  
  .editar-perfil {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #56585a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .editar-perfil:hover {
    background-color: #0e0e0e;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }