<!-- carrito.component.html -->

<div class="carritos-container" *ngIf="carritos.length > 0; else noCarritos">
  <h1>Lista de Carritos</h1>
  <div *ngFor="let carrito of carritos" class="carrito">
      <h2>Carrito #{{ carrito.id }}</h2>
      <p><strong>Productos:</strong></p>
      <ul>
          <li *ngFor="let product of carrito.products">
              <app-cart [productCart]="product" (productoEliminado)="manejarProductoEliminado($event)"></app-cart>
          </li>
      </ul>
  </div>
</div>

<ng-template #noCarritos>
  <div class="no-carritos">
      <p>No hay carritos disponibles.</p>
  </div>
</ng-template>
