<!-- carrito.component.html -->

<div class="carritos-container" *ngIf="carritos.length > 0; else noCarritos">
  <h1 class="titulo">Mi Carrito</h1>
  <div *ngFor="let carrito of carritos" class="carrito">
      <p class="tituloProductos"><strong>Productos:</strong></p>
      <ul>
          <li *ngFor="let product of carrito.products">
              <app-cart [productCart]="product" (productoEliminado)="manejarProductoEliminado($event)"></app-cart>
          </li>
      </ul>
  </div>
</div>

<ng-template #noCarritos>
  <div class="no-carritos">
      <p>No hay carritos disponibles.</p>
  </div>
</ng-template>
