<div class="edit-producto-container">
  <h1>Editar Producto</h1>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="title">Título:</label>
          <input id="title" formControlName="title">
      </div>
      <div class="form-group">
          <label for="price">Precio:</label>
          <input id="price" formControlName="price" type="number">
      </div>
      <div class="form-group">
          <label for="description">Descripción:</label>
          <input id="description" formControlName="description">
      </div>
      <div class="form-group">
          <label for="category">Categoría:</label>
          <input id="category" formControlName="category">
      </div>
      <div class="form-group">
          <label for="image">URL de la imagen:</label>
          <input id="image" formControlName="image">
      </div>
      <div class="form-group">
          <label for="rate">Calificación:</label>
          <input id="rate" formControlName="rate" type="number" step="0.1" max="5">
      </div>
      <div class="form-group">
          <label for="count">Cantidad:</label>
          <input id="count" formControlName="count" type="number">
      </div>
      <button type="submit" class="btn">Actualizar Producto</button>
  </form>
</div>
