.edit-producto-container {
    width: 50%;
    margin: auto;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid;
    border-image-source: linear-gradient(45deg, darkgreen, lightgreen);
    border-image-slice: 1;
}

.edit-producto-container h1 {
    text-align: center;
    color: #159318;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #333;
    color: #ffffff;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #1a1c1d;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #565656; /* Color plomo */
    color: #cccccc; /* Texto no tan blanco */
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #404040; /* Más oscuro al pasar el ratón */
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}