<section id="nosotros">
    <div class="hero">
      <h1>Sobre Nosotros</h1>
      <p>Conoce más sobre nuestra historia, misión y valores.</p>
    </div>
    <div class="container">
      <div class="section">
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es proporcionar productos de alta calidad y un servicio excepcional que mejoren la vida de nuestros clientes.</p>
      </div>
      <div class="section">
        <h2>Nuestra Visión</h2>
        <p>Visión de ser la tienda en línea más confiable y preferida por su calidad y servicio al cliente.</p>
      </div>
      <div class="section">
        <h2>Nuestros Valores</h2>
        <ul>
          <li>Calidad</li>
          <li>Integridad</li>
          <li>Innovación</li>
          <li>Servicio al Cliente</li>
          <li>Responsabilidad</li>
        </ul>
      </div>
      <div class="section team">
        <h2>Conoce a Nuestro Equipo</h2>
        <div class="team-members">
          <div class="team-member">
            <img src="assets/CEO.jpg" alt="Miembro del Equipo">
            <h3>Juan Pérez</h3>
            <p>CEO</p>
          </div>
          <div class="team-member">
            <img src="assets/CTO.jpg" alt="Miembro del Equipo">
            <h3>Mario Gómez</h3>
            <p>CTO</p>
          </div>
          <div class="team-member">
            <img src="assets/member.jpg" alt="Miembro del Equipo">
            <h3>Lucas Fernández</h3>
            <p>COO</p>
          </div>
        </div>
      </div>
      <div class="section testimonials">
        <h2>Testimonios de Clientes</h2>
        <div class="testimonial">
          <p>"Excelente servicio y productos de alta calidad. Muy recomendable!" - Cliente 1</p>
        </div>
        <div class="testimonial">
          <p>"Siempre encuentro lo que necesito y la atención es maravillosa." - Cliente 2</p>
        </div>
      </div>
      <div class="section gallery">
        <h2>Galería de Imágenes</h2>
        <div class="gallery-images">
          <img src="assets/event.jpg" alt="Galería 1">
          <img src="assets/showcase.jpg" alt="Galería 2">
          <img src="assets/enviroment.jpg" alt="Galería 3">
          <img src="assets/event.jpg" alt="Galería 4">
        </div>
      </div>
      <!-- Sección "Nosotros" -->
      <div class="section nosotros">
        <h2>Quiénes Somos</h2>
        <p>Somos una empresa comprometida con la excelencia en la venta de productos de alta calidad y la prestación de servicios excepcionales. Fundada en [año de fundación], nuestra empresa se ha destacado por [breve descripción de logros o reconocimientos].</p>
        <p>Estamos ubicados en [ciudad/país], y nos enorgullece servir a clientes en todo el mundo. Nuestra dedicación a la calidad, la integridad y el servicio al cliente nos distingue en la industria.</p>
        <p>No dudes en ponerte en contacto con nosotros para obtener más información sobre nuestros productos y servicios.</p>
      </div>
    </div>
  </section>